<div class="card">
    <div class="card-header">
        <h4><a class="link text-blue-500" href="/post/{{id}}">{{postTitle}}</a></h4> <!-- Make the post title a clickable link -->
        <p class="text-sm text-gray-500">Posted by {{user.email}} on {{format_date created_at}}</p> <!--  post information -->
    </div>
    <p class="card-body">{{description}}</p> <!--  post description -->
</div>